/*HEADER Styling*/
h1 {
  /*this is simple styling text*/
  font-size: 48px;
  font-family: "Helvetica";
}

img {
  border-radius: 500px;
  border-color: black;

}

/*BODY Styling*/
body {
  background-color: #F2F2F2;
  background-image: url("newback.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center, center;
}
p {
  font-family: "Helvetica";
  font-size: 18px;
  border-style: ridge;
  background-color: hsl(0, 0%, 95%,0.5);
  color :#000000;

}

h3{
  font-family: "Helvetica";
  font-size: 36px;
}

table {
  width: 100%;
  height: 75px;
  border-collapse: collapse;
}
th {
  border-style: outset;
  border-color: #FFFFFF;
  background-color: black;
  color: DodgerBlue;
  text-align: center;
  font-family: "Helvetica";
  font-size: 36px;
  width: 25%
}
td{
  border-right: 1px solid #000000;
  font-family: "Helvetica";
  font-size: 18px;
  color : DodgerBlue;
  text-align: center;
}
.no_border_edge{
  border-right-style: hidden;
}
.size_30{
  width:33%;
}


.backgr_box {
  font-family: "Helvetica";
  font-size: 18px;
  border-style: ridge;
  background-color: hsl(0, 0%, 95%,0.5);
  color :#000000;

}


/* This is how you style the way a link displays during the entire action of pressing it*/

a:link {
  color : DodgerBlue;
  text-decoration: none;
}

a:visited {
  color : inherit;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #000000
}
